# Compiled Object files
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture dependent object files
*.[568vq]
*.cgo1.go
*.cgo2.c

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# IDEs and editors
*.swp
*.swo
*.idea/
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Binary outputs
bin/
